<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com"></context:component-scan>
	<mvc:default-servlet-handler/>

	<!-- 配置数据源 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/product"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 指定mybatis的mapper xml文件的位置 -->
		<property name="mapperLocations" value="classpath:com/mapper/*.xml"></property>
		<!-- 关联数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 配置别名 -->
		<property name="typeAliasesPackage" value="com.model"></property>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- <property name="sqlSessionFactory" ref="sqlSession"></property> -->
		<!-- 指定dao接口的位置 -->
		<property name="basePackage" value="com.mapper"></property>
	</bean>
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 注入数据源 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 声明建议 -->
	<tx:advice id="aopAdvice">
		<tx:attributes>
			<!-- SUPPORTS表示如果当前上下文环境中存在事务则用，不存在则不用 -->
			<tx:method name="list*" propagation="SUPPORTS" />
			<tx:method name="query*" propagation="SUPPORTS" />
			<tx:method name="get*" propagation="SUPPORTS" />
			<!--REQUIRED当前操作必须使用事务进行管理 -->
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="edit*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<!-- aop配置 proxy-target-class如果为true表示采用jdk的动态代理实现 ,如果是false则表示采用cglib实现 -->
	<aop:config proxy-target-class="true">
		<!-- 声明切点 -->
		<aop:pointcut expression="execution(* com.service..*.*(..))"
			id="pointCut" />
		<!-- 你现在给这些切点提供什么建议 -->
		<aop:advisor advice-ref="aopAdvice" pointcut-ref="pointCut" />
	</aop:config>
	
	<!-- 这行代码要加，不加会报错 ，代码是将aopjdk动态代理转换成cglib实现-->
	  <aop:aspectj-autoproxy proxy-target-class="true"/> 
   
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="cacheManager" ref="cacheManager"></property>
		<property name="realm" ref="jdbcRealm"></property>
	</bean>
	
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache.xml"></property>
	</bean>

	<bean id="jdbcRealm" class="com.realm.AdminRealm">
		<property name="credentialsMatcher">
			<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
				<property name="hashAlgorithmName" value="MD5"></property>
				<property name="hashIterations" value="1024"></property>
			</bean>
		</property>
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"></bean>
	<bean
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor"></bean>
		
		
<!--  	id必须和web.xml文件中配置的filter标签中的name一致  -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"></property>
		<property name="loginUrl" value="/login.jsp"></property>
		<property name="successUrl" value="/index.jsp"></property>
		<property name="unauthorizedUrl" value="/unauthorized.jsp"></property>
		<property name="filterChainDefinitions">
			<value>
	   /js/**=anon
       /css/**=anon
       /common/**=anon
       /json/**=anon
       /jsplug/**=anon
       /images/**=anon
       /login.jsp=anon
       /login/checkAdmin=anon
       /logout=logout
       /**=authc
			</value>
		</property>
	</bean>

</beans>
